.example1-wrapper {
    .inner {
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    .item {
        margin-bottom: 10px;
        p {
            line-height: 1.5;
            margin-bottom: 10px;
        }
    }
}
